@{
    ViewBag.Title = "EditInfoAvatar";
}

<h2>EditInfoAvatar</h2>

@using (Html.BeginForm("EditInfoAvatar", "Files", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <input type="file" name="File" />
    <p>
         <input type="submit" value="Сохранить" />
    </p>
}

