@{
    ViewBag.Title = "Index";
}

<a href="@Url.Action("MyPosts", "Post")" >Мои посты</a>
<a href="@Url.Action("Favorite", "Post")" >Избранное</a>
<a href="@Url.Action("News", "Post")" >Лента</a>

@System.Web.Optimization.Scripts.Render("~/bundles/my")
