@model IEnumerable<EPAM.MyBlog.UI.Web.Models.PresentPostModel>

@{int c = 0;}

    @foreach (var item in Model) 
{
    c++;
    <div class="row list">
        <div class="col-sm-8 col-md-8 col-lg-8 col-sx-8">
            @Html.ActionLink(@item.Title, "Posts", new { id=item.Id })  
        </div>
         <div class="col-sm-4 col-md-4 col-lg-4 col-sx-4">
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class="btn btn-default"}) 
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id }, new { @class="btn btn-default"})  
        </div>
    </div>

    }

@if(c==0)
{
    <div class="row list">
        <div class="col-sm-8 col-md-8 col-lg-8 col-sx-8">
            <p>  Вы не добавили ни ондой статьи </p>
        </div>
        </div>
}