@model IEnumerable<EPAM.MyBlog.UI.Web.Models.PresentPostModel>

@{ int c = 0;}

<div class="row">
    <p class="title title-top">Записи</p>
</div>
<table>

    @foreach (var item in Model) 
{
    c++;
    <tr>
        <td>
            @Html.ActionLink(@item.Title, "Posts", new { id=item.Id })  

        </td>

    </tr>

    }

</table>


@if(c==0)
{
    <div class="row list">
        <div class="col-sm-8 col-md-8 col-lg-8 col-sx-8">
            <p>  У пользователя нет статей </p>
        </div>
        </div>
}
