USE [Blog]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 02.02.2015 12:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Post_ID] [nvarchar](50) NULL,
	[User_Name] [nvarchar](50) NULL,
	[Comment_ID] [nvarchar](50) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[Time] [smalldatetime] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Comment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 02.02.2015 12:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[Login] [nvarchar](50) NULL,
	[Post_Id] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 02.02.2015 12:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[User_Name] [nvarchar](50) NULL,
	[Post_Id] [nvarchar](50) NOT NULL,
	[Post_Title] [nvarchar](50) NULL,
	[Post_Text] [nvarchar](max) NULL,
	[Time] [smalldatetime] NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[Post_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reasons]    Script Date: 02.02.2015 12:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reasons](
	[Reason] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02.02.2015 12:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] NOT NULL,
	[Title] [nchar](10) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 02.02.2015 12:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Post_Id] [nvarchar](50) NULL,
	[Tag] [nvarchar](25) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAbout]    Script Date: 02.02.2015 12:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserAbout](
	[Login] [nvarchar](50) NOT NULL,
	[Avatar] [varbinary](max) NULL,
	[Type] [nvarchar](50) NULL,
	[Sex] [nvarchar](10) NULL,
	[Birthday] [date] NULL,
	[True_Name] [nvarchar](50) NULL,
	[About] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserAbout] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02.02.2015 12:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Login] [nvarchar](50) NOT NULL,
	[Password] [binary](64) NULL,
	[E_mail] [nchar](40) NULL,
	[Role_Id] [int] NOT NULL,
	[Date] [smalldatetime] NULL,
 CONSTRAINT [PK_Users_1] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Comments] ([Post_ID], [User_Name], [Comment_ID], [Text], [Time]) VALUES (N'9B66991D-5719-4CA3-8DCC-8E2A5ECF4672', N'Admin2', N'115428EF-362E-4DBB-A6F7-D5E12C281DCA', N'НЛО прилетело и оставило эту запись', CAST(0xA43204FF AS SmallDateTime))
INSERT [dbo].[Comments] ([Post_ID], [User_Name], [Comment_ID], [Text], [Time]) VALUES (N'1B1EB63A-F93C-41DA-A00F-C859DA74DD0E', N'Moder1', N'13CAB2E8-30B2-45AF-8A83-5F901FD3DCAF', N'Чувак, ты с метаном не шути. Хотя я даж не читал этот текст, возможно тут не про тот метан', CAST(0xA4320534 AS SmallDateTime))
INSERT [dbo].[Comments] ([Post_ID], [User_Name], [Comment_ID], [Text], [Time]) VALUES (N'BF2916A0-0BA7-4023-B870-62FC4FC5740E', N'Moder1', N'263BF826-CB25-40C9-86E9-42F7F7209473', N'я делал круговые, ничего сложного. Ну как ничего. денек посидишь над соединением этого гребанного шара', CAST(0xA4320533 AS SmallDateTime))
INSERT [dbo].[Favorite] ([Login], [Post_Id]) VALUES (N'Admin2', N'F3CB8C0A-E3FB-44C9-8AC5-9F3FBC2602F2')
INSERT [dbo].[Favorite] ([Login], [Post_Id]) VALUES (N'Admin2', N'B017E7D1-7F79-4249-A3EB-085F6D7059E3')
INSERT [dbo].[Favorite] ([Login], [Post_Id]) VALUES (N'Moder3', N'D62E1F01-EB81-4410-B536-5FA9E409E77D')
INSERT [dbo].[Posts] ([User_Name], [Post_Id], [Post_Title], [Post_Text], [Time]) VALUES (N'JemJem', N'1448340E-0979-4260-A9ED-0259DA82EBEE', N'тест 3', N'У намига сайт лучше)', CAST(0xA432052A AS SmallDateTime))
INSERT [dbo].[Reasons] ([Reason]) VALUES (N'отстойный сайт')
INSERT [dbo].[Reasons] ([Reason]) VALUES (N'просто тест')
INSERT [dbo].[Reasons] ([Reason]) VALUES (N'ыва')
INSERT [dbo].[Roles] ([Id], [Title]) VALUES (1, N'Admin     ')
INSERT [dbo].[Roles] ([Id], [Title]) VALUES (2, N'Moder     ')
INSERT [dbo].[Roles] ([Id], [Title]) VALUES (3, N'User      ')
INSERT [dbo].[Tags] ([Post_Id], [Tag]) VALUES (N'E8E606AA-D7AA-4C7F-BCB4-385FC05809BA', N'тест')
INSERT [dbo].[Tags] ([Post_Id], [Tag]) VALUES (N'E8E606AA-D7AA-4C7F-BCB4-385FC05809BA', N'тест2')
INSERT [dbo].[Tags] ([Post_Id], [Tag]) VALUES (N'D042FD5B-D7F4-4053-9D18-583150C1BE25', N'лут')
INSERT [dbo].[UserAbout] ([Login], [Avatar], [Type], [Sex], [Birthday], [True_Name], [About]) VALUES (N'bodybuilder', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[UserAbout] ([Login], [Avatar], [Type], [Sex], [Birthday], [True_Name], [About]) VALUES (N'JemJem', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([Login], [Password], [E_mail], [Role_Id], [Date]) VALUES (N'Admin2', 0x80FEA38E9B7CB1A654CAFC658C3BFCFD1A74371C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, N'jemjem@gmail.com                        ', 1, NULL)
INSERT [dbo].[Users] ([Login], [Password], [E_mail], [Role_Id], [Date]) VALUES (N'bodybuilder', 0xAE480409240E7F929AED4AD42704C29B10AB3E900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, N'bodybuilder@gmail.com                   ', 3, NULL)
INSERT [dbo].[Users] ([Login], [Password], [E_mail], [Role_Id], [Date]) VALUES (N'JemJem', 0x145A2FFB820AE20E2FC88B21402D48AD1D0E5E900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, N'jemgus@gad.com                          ', 3, NULL)
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Users] FOREIGN KEY([Post_ID])
REFERENCES [dbo].[Posts] ([Post_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comment_Users]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Users] FOREIGN KEY([User_Name])
REFERENCES [dbo].[Users] ([Login])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Users]
GO
ALTER TABLE [dbo].[UserAbout]  WITH CHECK ADD  CONSTRAINT [FK_UserAbout_Users] FOREIGN KEY([Login])
REFERENCES [dbo].[Users] ([Login])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAbout] CHECK CONSTRAINT [FK_UserAbout_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users]
GO
