@model EPAM.MyBlog.UI.Web.Models.AvatarModel


    <p>@Model.Login</p>

    @if (Model.Avatar == null)
    {
        <div>
            <img src="~/Content/img/User-icon.png" />
        </div> 
    }
    else
    {
         <div>
            <img src="@Url.Action("GetImage","Files", new { name = User.Identity.Name})" width="250" />
        </div> 
    }


<div>
    @Html.ActionLink("Изменить аватар", "EditInfoAvatar", "Files", null, new { @class="btn btn-default"})
</div>
