@model EPAM.MyBlog.UI.Web.Models.AvatarModel


    @if (Model.Avatar == null)
    {
        <div>
            <img src="~/Content/img/User-icon.png" />
        </div> 
    }
    else
    {
         <div>
            <img src="@Url.Action("GetImage","Files", new { name = Model.Login })" width="250" />
        </div> 
    }

@if(User.Identity.Name == Model.Login){
<div class="post">
    @Html.ActionLink("Изменить аватар", "EditInfoAvatar", "Files", null, new { @class="btn btn-default"})
</div>
}
