@{
    ViewBag.Title = "Index";
}
<div class="title">
<ul>
<li><a href="@Url.Action("AboutMe", "Account")" >О себе</a></li>
<li><a href="@Url.Action("DeleteAc", "Account")" >Удалить аккаунт</a></li>
</ul>
</div>
@System.Web.Optimization.Scripts.Render("~/bundles/my")
@System.Web.Optimization.Scripts.Render("~/bundles/my2")