@model EPAM.MyBlog.UI.Web.Models.ConfirmModel

@{
    ViewBag.Title = "LogOut";
}

<h2>Вы действиетльно хотите выйти?</h2>
@using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logout" }))
{
    <button type="submit" name="Confirm" value ="true">Да</button> 
    <button type="submit" name="Confirm" value ="false">Нет</button>
}

@System.Web.Optimization.Scripts.Render("~/bundles/my2")
@System.Web.Optimization.Scripts.Render("~/bundles/my")