@model EPAM.MyBlog.UI.Web.Models.ConfirmModel

@{
    ViewBag.Title = "LogOut";
}

<h2>Вы действиетльно хотите выйти?</h2>
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "content" }))
{
    <button name="Confirm" value ="true">Да</button> 
    <button name="Confirm" value ="false">Нет</button>
}

@System.Web.Optimization.Scripts.Render("~/bundles/my")