@if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <ul class="nav navbar-nav">
                  <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Посты <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Index", "Post")">Мои посты</a></li>
                            <li><a href="#">Избранное</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Посты друзей</a></li>

                        </ul>
                  </li>
                  <li><a href="#">Лента</a></li>
                  <li><a href="#">Аккаунт</a></li>
                  <li></li>
                  <li><a href="#">Помощь</a></li>
@*                   @Html.Partial("ModerMenu")
                   @Html.Partial("AdminMenu")*@
              </ul>
}
else
{

}