@model EPAM.MyBlog.UI.Web.Models.AvatarModel


    <p>@Model.Login</p>

    @if (Model.Avatar == null)
    {
        <div>
            <img src="~/Content/img/User-icon.png" />
        </div> 
    }
    else
    {
         <div>
            <img src="@Url.Action("GetImage","Files", new { name = Model.Login })" width="250" />
        </div> 
    }

