@model EPAM.MyBlog.UI.Web.Models.SearchModel

@using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Поиск</legend>
  <div class="form-group">
    @Html.TextBoxFor(model => model.SearchText, new { type = "text", @class = "form-control", placeholder = "Search", id = "srch-term" })
  </div>
  <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        <p>Для поиска статей по тегу наберите "#текст_тега"</p>
        <p>Для поиска статей по тексту просто наберите текст</p>
        </fieldset>

}
    