@model List<EPAM.MyBlog.UI.Web.Models.PresentPostModel>
@{
    WebGrid grid = new WebGrid(Model, canPage:true, rowsPerPage:15);
    grid.Pager(WebGridPagerModes.NextPrevious);
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-sx-12 title">Результаты поиска</div>
</div>

@if (Model.Count != 0)
{
@grid.GetHtml(columns: new [] {
    grid.Column("Title",
                    style: "gridtitle",
                    header: " "),
    grid.Column("",
                    style: "gridbutton",
                    header: "",
                    format: @<text>
                                @Html.ActionLink("Читать", "Posts", "Post", new { id=item.Id }, new {@class="btn btn-default"})
                             </text>
)
})

}
else
{
    <p>Поиск не дал результатов</p>
}

@Ajax.ActionLink("Вернуться к поиску","Index", "Search", new { }, new AjaxOptions{ UpdateTargetId = "content" })

@System.Web.Optimization.Scripts.Render("~/bundles/my")