@model IEnumerable<string>


<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-sx-12 title">#Теги</div>
</div>
<ul>
@if(Model != null)
{
    foreach (var item in Model)
    {
        
        if (!String.IsNullOrEmpty(item))
        {
            <li>
                @Html.ActionLink(item, "Result", "Search", new { search = "#" + item }, null)
           </li>
        }
        
    }

}
else
{
    
}
    </ul>