
.container-fluid{
    width:1400px;
}
.container-fluid .row{
    margin: 0px;
    text-align:center;
    margin-bottom:10px;
}

.navbar-static-top{
    margin-bottom:0px;
}
body{
    background-image: url(../img/cropped-345656.jpg);
    background-attachment: fixed;
}

html > /**/ body #sidebar {
    background:rgb(245,221,194);
    background: transparent\9;
    background:rgba(245,221,194,0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccf5ddc2,endColorstr=#ccf5ddc2);
    zoom: 1;
}
#sidebar:nth-child(n) {
    filter: none;
}

.main{
     background-color:#d5c9bf;
     overflow:hidden;
}

#content, #sidebar, #loading{
    height: 800px;
    
}

#loading img{
    width:264px;
    height:34px;
    position:absolute;
    left:40%;
    top:50%;
   
}

#content, #loading {
    -ms-word-break: break-all;
    word-break: break-all;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-background-color: #cfb8a5;
    background-color: #cfb8a5;
}

.head{
    color:white;
    background-color:#cbbbb6;
    padding:10px;
    margin-bottom:10px;
    margin-top:10px;
    font-family: Sans Serif;
}

.footer{
    background-color:rgb(0, 0, 0);
    color: white;
    margin-bottom:10px;
    margin-top:10px;
}

.shadow {
    -moz-box-shadow: 0 0 30px #3d3d3d;
    -webkit-box-shadow: 0 0 30px #3d3d3d;
    box-shadow: 0 0 30px #3d3d3d;
}

.footer .row {
     padding:10px;
     text-align:center;
     vertical-align:middle;
}

a img {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.pull-right{
    text-align: right;
}

.footer a{
    color:white;
}

.validation-error{
    color: red;
}

.text-box {
    width: 250px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
}

p {
    font-family: 'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
    font-size: 16px;
}

.title, .username, legend{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}

.title-top, legend, fieldset{
    margin-top:20px;
}

#reg{
    margin-top:10px;
}

.error-login, .title{
     font-size: 26px;
     margin-top:20px;
}

.title{
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    display:inline-block;
    margin-bottom:10px;
}

.title  p{
    margin-top:10px;
}

.list > div{
    margin-top: 20px;
}

.table-condensed tbody
{
    overflow:auto;
    max-height: 500px;
}

.post{
    margin-bottom: 40px;
    margin-top: 40px;
}

.bold {
    font-weight: bold;
}

.btn{
    margin:5px 10px;

}

#srch-term {
    width: 300px;
    margin: 20px 20px;
}

.newpost > div{
    padding-top: 10px;
}

#Title, #Tags {
    width:75%
}

.editor-field textarea {
    width : 626px;
    height : 400px;
}

.gridtitle {
    width:90%;
}
.gridbutton {
    width:20%;
}

.hidden{
    display:none;
}

.center_btn {
    width:160px;
    margin:10px auto;
}

.editor-field-comment textarea {
    width : 450px;
    height : 100px;
}