
.container-fluid{
    width:1400px;
}
.container-fluid .row{
    margin: 0px;
    text-align:center;
    margin-bottom:10px;
}

.navbar-static-top{
    margin-bottom:0px;
}
body{
    background-image: url(../img/cropped-345656.jpg);
    background-attachment: fixed;
}

#sidebar {
    background-color:rgba(245, 221, 194, 0.8);
}
.main{
     background-color:rgba(229, 220, 213, 0.00);
     overflow:hidden;
}

#content, #sidebar{
    height: 800px;
    
}

#content {
    background-color: rgba(229, 220, 213, 0.8);
    -ms-word-break: break-all;
    word-break: break-all;
    overflow-y: auto;
}

.head{
    color:white;
    background-color:rgba(248, 229, 222,0.4);
    padding:10px;
    margin-bottom:10px;
    margin-top:10px;
    font-family: Sans Serif;
}

.footer{
    background-color:rgba(0, 0, 0,0.5);
    color: white;
    margin-bottom:10px;
    margin-top:10px;
}

.shadow {
    -moz-box-shadow: 0 0 30px #3d3d3d;
    -webkit-box-shadow: 0 0 30px #3d3d3d;
    box-shadow: 0 0 30px #3d3d3d;
}

.footer .row {
     padding:10px;
     text-align:center;
     vertical-align:middle;
}

a img {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.pull-right{
    text-align: right;
}

.footer a{
    color:white;
}

.validation-error{
    color: red;
}

.text-box {
    width: 250px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
}

p {
    font-family: 'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
    font-size: 16px;
}

.title, .username, legend{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}

.title-top, legend, fieldset{
    margin-top:20px;
}

#reg{
    margin-top:10px;
}

.error-login, .title{
     font-size: 26px;
     margin-top:20px;
}

.title{
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    display:inline-block;
    margin-bottom:10px;
}

.title  p{
    margin-top:10px;
}

.list > div{
    margin-top: 20px;
}

.table-condensed tbody
{
    overflow:auto;
    max-height: 500px;
}

.post{
    margin-bottom: 40px;
    margin-top: 40px;
}

.bold {
    font-weight: bold;
}

.btn{
    margin:5px 10px;

}

#srch-term {
    width: 300px;
    margin: 20px 20px;
}

.newpost > div{
    padding-top: 10px;
}

#Title, #Tags {
    width:75%
}

.editor-field textarea {
    width : 400px;
    height : 100px;
}

.gridtitle {
    width:90%;
}
.gridbutton {
    width:20%;
}

.hidden{
    display:none;
}