<li class="dropdown"><a href="@Url.Action("Users", "Admin")" class="dropdown-toggle nojs" data-toggle="dropdown" role="button" aria-expanded="false">Администрирование <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li>@Ajax.ActionLink("Пользователи","Users", "Admin", new { }, new AjaxOptions{ UpdateTargetId = "content" })</li>
    </ul>
    </li>