@{
    ViewBag.Title = "Help";
}

<p class="title">Help</p>

<p> FAQ </p>

<p>1.Как мне удалить аккаунт?</p>
<p>2.Как мне создать пост?</p>
<p>2.Как мне отредактировать пост?</p>

@System.Web.Optimization.Scripts.Render("~/bundles/my")