@{
    ViewBag.Title = "Help";
}

<p class="title">Help</p>

<p> FAQ </p>

<p id="q1">Q.Как мне удалить аккаунт?</p>
<p id="a1">A.Зайдите в меню "Аккаунт", далее в меню "Удалить аккаунт". Если Вы хотите поделиться с нами причиной удаления аккаунта - напишите ее в комментарии. Затем подтвердите удаление аккаунта, нажав кнопку "Да"</p>
<p id="q2"> Q.Как мне создать пост?</p>
<p id="a2">A.Зайдите в меню "Посты", далее в "Мои посты". Справа сверху нажмите ан кнопку "Создать запись". Напишите заголовок, текст записи и поставьте несколько тегов, для того чтобы пост можно было найти по ним. Подтвердите, нажав кнопку "Создать".</p>
<p id="q3">Q.Как мне отредактировать пост?</p>
<p id="a3">A.Как мне удалить аккаунт?</p>

@System.Web.Optimization.Scripts.Render("~/bundles/my")