@{
    ViewBag.Title = "Index";
}

 @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
     <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-2 title-top">
            <p>Авторизация успешно пройдена </p>    
         </div>
     </div>
    }
    
    else
    {
     <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-2 title-top">
            <p>Добро пожаловать в #Blog</p>
             <p>Здесь вы можете завести свой блог и делится интересными новостями</p>
         </div>
     </div>
    }